<h1>ADD EATERY</h1>

<div class="form-container">

  <form action="/eatery_conf" method="post">

    <div class="field">
      <label for="name">Name: </label>
      <input type="text" name="name" value="">
    </div>

    <div class="submit">
      <input type="submit" name="submit" value="CREATE">
    </div>

    </div>

  </form>
</div>
