<h1>ADD DEAL</h1>

<div class="form-container">

  <form action="/deal_conf" method="post">

    <div class="field">
      <label for="name">Name: </label>
      <input type="text" name="name" value="">
    </div>

    <div class="field">
      <label for="deal_type"></label>
      <select class="deal_type" name="deal_type">
        <option value="halfprice">Half Price</option>
        <option value="20off">20% Off</option>
        <option value="1free">Get 1 Free</option>
        <option value="freedrink">Free Drink</option>
        <option value="1pound">1 Pound Burger</option>
      </select>
    </div>

    <div class="submit">
      <input type="submit" name="submit" value="CREATE">
    </div>

    </div>

  </form>
</div>
