<h2 class="success">Burger added to database!</h2>

<p>Now you can either link the burger with a deal with LINK DEAL,<br>
or leave it as is if there is no associated deal for it.</p>

<h2>What would you like to do?</h2>

<div class="sub-menu">

    <div class="option">
      <a href="/add_burger">NEW BURGER</a>
    </div>
    <div class="option">
      <a href="/add_eatery">NEW EATERY</a>
    </div>
    <div class="option">
      <a href="/add_deal">NEW DEAL</a>
    </div>
    <div class="option">
      <a href="/link_deal">LINK DEAL</a>
    </div>

</div>
