
<h2 class="success">Deal added to database!</h2>

<p>Now link burgers to this deal with LINK DEAL, <br>
if there are any that it applies to.</p>

<h2>What would you like to do?</h2>

<div class="sub-menu">

    <div class="option">
      <a href="/add_burger">NEW BURGER</a>
    </div>
    <div class="option">
      <a href="/add_eatery">NEW EATERY</a>
    </div>
    <div class="option">
      <a href="/add_deal">NEW DEAL</a>
    </div>
    <div class="option">
      <a href="/link_deal">LINK DEAL</a>
    </div>

</div>
