
<h2 class="success">Eatery added to database!</h2>

<p>Now add burgers to the database for this eatery, <br>
or leave it as is if it is burgerless and therefore useless <br>
as a burger tracking location.</p>

<%= erb :edit %>
