
<h2 class="success">Link created!</h2>

<p>This will now show up on 'Deals By Day' and 'List All Deals'<br>
  in the view section, with the effect (if any) of the deal on <br>
  the price of the burger</p>

<h2>What now?</h2>

<div class="sub-menu">

    <div class="option">
      <a href="/add_burger">NEW BURGER</a>
    </div>
    <div class="option">
      <a href="/add_eatery">NEW EATERY</a>
    </div>
    <div class="option">
      <a href="/add_deal">NEW DEAL</a>
    </div>
    <div class="option">
      <a href="/link_deal">LINK DEAL</a>
    </div>

</div>
