

<h1>All Entries:</h1>

<div class="table-container">
<table>
  <tr>
    <div class="tcell">
      <th>Burger</th>
    </div>
    <div class="tcell">
      <th>Price</th>
    </div>
    <div class="tcell">
      <th>Eatery</th>
    </div>
    <div class="tcell">
      <th>Deal</th>
    </div>
    <div class="tcell">
      <th>Day</th>
    </div>
  </tr>
<% for burger in @burgers %>
  <tr>
    <div class="tcell">
      <td><%= burger.name() %> </td>
    </div>
    <div class="tcell">
      <td><%= burger.price() %> </td>
    </div>
    <div class="tcell">
      <td><%= burger.find_eateries() %> </td>
    </div>
    <div class="tcell">
      <td><%= burger.find_deals() %> </td>
    </div>

  </tr>
<% end %>
</table>
</div>
