
<h1>What would you like to add?</h1>

<div class="sub-menu">

    <div class="option">
      <a href="/add_burger">NEW BURGER</a>
    </div>
    <div class="option">
      <a href="/add_eatery">NEW EATERY</a>
    </div>
    <div class="option">
      <a href="/add_deal">NEW DEAL</a>
    </div>
    <div class="option">
      <a href="/link_deal">LINK DEAL</a>
    </div>

</div>
