

<div class="form-container">
  <form action="/search" method="post">
    <div class="field">
      <label for="searchBox">Search: </label>
      <input type="text" name="searchBox" value="">
    </div>
  </form>
</div>




<div class="form-container">

  <a href="/list">List All Entries</a>

</div>
