
<div class="form-container">

  <form action="/serach" method="get">

    <div class="field">
      <label for="sortType">Find All: </label>
      <select name="sortType" id="sortType">
        <option value="">Burgers</option>
        <option value="">Eateries</option>
      </select>
    </div>

    <div class="field">
      <label for="searchBox">Search: </label>
      <input type="text" name="searchBox" value="">
    </div>

  </form>
</div>
