html {
  min-height: 100%
}

body {
  background-color: #d16b5c;
  margin: 0px;
  font-family: 'Anton', sans-serif;
  background-image: url("/citybg.png");
  background-repeat: repeat-x;
  background-position: bottom;
  background-attachment: fixed;
}

.nav-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  background-image: url("table.png");
  border-bottom: 2px solid #351708;
}

.nav-container nav {
     flex: 1;
     display: -webkit-flex;
     display: -ms-flex;
     display: flex;
     flex-flow: row;
     margin: 0px 10px;
     list-style: none;
     justify-content: space-around;
}

.nav-container a {
  text-decoration: none;
  padding: 0px 20px;
  font-size: 30px;
  color: #26282b;
}

.cell {
  justify-content: space-between;
  margin: 10px 0px;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin-bottom: 0px;
  color: #26282b;
}

h2 {
  text-align: center;
  color: #26282b;
}

.success {
  text-align: center;
  background-color: #bada55;
  color: #fefecb;
  width: 40%;
  margin: auto;
  margin-top: 10px;
}

p {
  text-align: center;
  color: #26282b;
}

.page-content {

}

.biglogo {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

.sub-menu {
  text-align: center;
  width: 40%;
  margin: auto;

}

.option {
  margin: 10px 0px;
  background-color: #ffc1a0;
  background-image: url("table.png");
  border: 2px solid #351708;

}

.sub-menu .option a {
  text-decoration: none;
  font-size: 24px;
  color: #2a3047;
}

.sub-menu .option a:hover {
  color: #dbd6d0;
}

.form-container a {
  color: white;
}

.nav-container a:hover {
  background-color: black;
  color: #d16b5c;
}
