body {
  background-color: tomato;
  margin: 0px;
  font-family: sans-serif;
}

.nav-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  font-family: sans-serif;
}

.nav-container nav {
     flex: 1;
     display: -webkit-flex;
     display: -ms-flex;
     display: flex;
     flex-flow: row;
     margin: 10px 10px;
     list-style: none;
     justify-content: space-around;
}

.nav-container a {
  font-family: sans-serif;
  text-decoration: none;
  font-size: 20px;
}

.cell {
  justify-content: space-between;
  margin: 10px 0px;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-family: sans-serif;
}

.biglogo {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

.sub-menu {
  text-align: center;
}
