.table-container {
  margin-top: 15px;
  max-width: 100%;
}

table {
  background-image: url("table.png");
  text-align: center;
  margin: auto;
  max-width: 100%;
  border: 2px solid #351708;
  padding: 0px;
}

table th {
  padding: 5px 5px;
  background-color: #2d2921;
  color: #e5ded7;
  margin: 0px;
}

table td {
  padding: 20px;
  color: #26282b;
  font-size: 16px;
}
